spring:
  application:
    name: buildconnect-backend
  datasource:
    url: jdbc:postgresql://localhost:5432/buildconnect
    username: postgres
    password: password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    enabled: true
    locations: classpath:db/migration

# JWT Configuration
jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000 # 1 day

# Swagger UI
springdoc:

  swagger-ui:
    path: /swagger-ui.html
